Basic RAG Agent.json
{
  "name": "Basic RAG Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1216,
        784
      ],
      "id": "4123a68e-23db-41ad-99fb-6aa8db309e9d",
      "name": "When chat message received",
      "webhookId": "b9d00881-6e88-4e4d-b861-ff3cecbad4d2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -928,
        464
      ],
      "id": "b64ad746-11b2-4853-9fd0-9ce3bfa15d6c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -992,
        688
      ],
      "id": "a5e4c856-eff1-460e-8115-4d739b762781",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DxnkuMtXRNv2nHuQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -864,
        688
      ],
      "id": "b91b5a9f-e588-4326-b2aa-5e73ccb5ece3",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "oarQOqNPjcPYHMFR",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "Retireive information about the agentic ai"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -736,
        688
      ],
      "id": "a2e4587d-f8c2-4b36-a2a2-24ea676fc337",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -544,
        896
      ],
      "id": "59cd40c4-9e5d-41d4-8150-f4056714a698",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "DxnkuMtXRNv2nHuQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -832,
        896
      ],
      "id": "7ad59a93-669a-4b0c-8131-58b3dc529d72",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "BbQjp3jrePMmI1Rc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -752,
        1104
      ],
      "id": "b2d5897d-06c8-4bc9-8bd4-49b02accff8f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DxnkuMtXRNv2nHuQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Y6hS6m4H4_kIqL6k3Dz1ETKHz2glSmE5",
          "mode": "list",
          "cachedResultName": "demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Y6hS6m4H4_kIqL6k3Dz1ETKHz2glSmE5"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        592
      ],
      "id": "5a658da5-386d-460b-afee-b25cb755f53b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nGLMd3W3TTvuCxhe",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01bf10a2-8ff4-47d9-a586-ee9d67c1e0cc",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        592
      ],
      "id": "74bb85b3-2edc-4672-b230-fd986c40ced7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1GNoubTt76r4vwsGxaUEfIkBb1T_RV3tM",
          "mode": "list",
          "cachedResultName": "Introduction to Agents.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1GNoubTt76r4vwsGxaUEfIkBb1T_RV3tM/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        272,
        592
      ],
      "id": "ae5b291f-caff-42aa-bf57-fda951bd8dd5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nGLMd3W3TTvuCxhe",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        752,
        592
      ],
      "id": "85b0ab88-5e5a-4061-929d-fa9f7c321fe6",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "BbQjp3jrePMmI1Rc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        496,
        592
      ],
      "id": "0370fde1-47bd-4d90-a773-b9cb513602c1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{$('Edit Fields').item.json.id}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        848,
        816
      ],
      "id": "b7628350-a22d-4b69-a5d5-6db15f1dbb5c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        816
      ],
      "id": "6c90c7f6-bd41-40a1-a9fa-26bfcc298d45",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "DxnkuMtXRNv2nHuQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        928,
        1024
      ],
      "id": "c14e2163-e4bf-4d0b-99f8-614bc32008b4",
      "name": "Token Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ca29863-a301-4833-a57e-b628dc30275a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78a413ee20a5904c789f7d0a64df9a0e6dbc4db0d076ad6e47dd9f6c20987bc0"
  },
  "id": "zqM41GPTSPlU9Fti",
  "tags": []
}