dashboard.json
{
  "name": "dashboard",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "\nYou are an AI that manages a Google Sheet. Your job is to read messages, check the sheet, and update it correctly.\n\n### Steps\n\n1. Read the user’s message – understand what they want.\n2. Check the sheet – use read_google_sheet to see the current data.\n3. Decide – figure out what needs to be changed or added.\n4. Update – use update_google_sheet to make the change.\n5. Confirm – tell the user what you updated.\n\n### Rules\n\n* Always check the sheet before updating.\n* Only update what’s new or changed.\n* Don’t touch unrelated data.\n* If the request is unclear, ask first.\n* Keep confirmations short (e.g., “Updated client revenue in the sheet.”).\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -176,
        -16
      ],
      "id": "29822e10-872a-4972-b94e-4d560259595f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        192
      ],
      "id": "25499669-7d04-461a-88ec-3476957f2109",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1YDcRZnHKU9BV3gM",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eLB2bZRURZQpyr62YzzEUpsbpsAbDV2wqeBWrZARW5M",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eLB2bZRURZQpyr62YzzEUpsbpsAbDV2wqeBWrZARW5M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eLB2bZRURZQpyr62YzzEUpsbpsAbDV2wqeBWrZARW5M/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -32,
        192
      ],
      "id": "bffe0c85-4201-49ad-b531-4c858cb92e59",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LdFPt3nZ4TLQPV1f",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1eLB2bZRURZQpyr62YzzEUpsbpsAbDV2wqeBWrZARW5M",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eLB2bZRURZQpyr62YzzEUpsbpsAbDV2wqeBWrZARW5M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eLB2bZRURZQpyr62YzzEUpsbpsAbDV2wqeBWrZARW5M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Client__using_to_match_', ``, 'string') }}",
            "Amount Payed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount_Payed', ``, 'string') }}",
            "Industry": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Industry', ``, 'string') }}",
            "Gmail": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Gmail', ``, 'string') }}"
          },
          "matchingColumns": [
            "Client"
          ],
          "schema": [
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount Payed",
              "displayName": "Amount Payed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gmail",
              "displayName": "Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        64,
        288
      ],
      "id": "b0c18dc2-ad76-41c4-aac0-fe31deb6a0f8",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LdFPt3nZ4TLQPV1f",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        -16
      ],
      "id": "94024bca-cf9e-41bc-b5b6-b82d06d5fb8e",
      "name": "Telegram Trigger",
      "webhookId": "2cea9497-ffd4-4cf5-a6a3-43a8ada6ed44",
      "credentials": {
        "telegramApi": {
          "id": "0Dz91kqtC3MTTW4U",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        192
      ],
      "id": "44434843-7ad7-4183-91ba-c89b18e727a3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        -16
      ],
      "id": "7f8bc9e1-8acd-4b6a-a01f-0779ac34d495",
      "name": "Send a text message",
      "webhookId": "d0f0dd0d-0a5f-4615-b995-8f6b27cb320a",
      "credentials": {
        "telegramApi": {
          "id": "0Dz91kqtC3MTTW4U",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46fbc792-df64-4448-901c-8de95adda64d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2238425e2bd3c8c5c8de16f53fbb84f9854d742160f04356aab6f49bf67caafd"
  },
  "id": "uLbbtwoIKSTmX4qg",
  "tags": []
}