n8n_email_summarizer.json
{
  "name": "Daily Gmail Summary to Slack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "trigger-node",
      "name": "Daily at 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 50,
        "simple": false,
        "options": {
          "q": "is:unread newer_than:1d"
        }
      },
      "id": "gmail-node",
      "name": "Get Unread Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [450, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "{{GMAIL_CREDENTIAL_ID}}",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-gmail-failed",
      "name": "Check Gmail Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "{{SLACK_CHANNEL_ID}}",
          "mode": "name"
        },
        "text": "⚠️ *Gmail Connection Failed*\n\nUnable to retrieve emails. Please check your Gmail credentials and try again.",
        "otherOptions": {}
      },
      "id": "slack-error-node",
      "name": "Notify Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [850, 200],
      "credentials": {
        "slackOAuth2Api": {
          "id": "{{SLACK_CREDENTIAL_ID}}",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-2",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-emails",
      "name": "Check Has Emails",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "{{SLACK_CHANNEL_ID}}",
          "mode": "name"
        },
        "text": "✅ *No New Unread Emails*\n\nNo unread emails found in the last 24 hours.",
        "otherOptions": {}
      },
      "id": "slack-no-emails",
      "name": "Notify No Emails",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 500],
      "credentials": {
        "slackOAuth2Api": {
          "id": "{{SLACK_CREDENTIAL_ID}}",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batch-node",
      "name": "Process Each Email",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo-preview",
          "mode": "list",
          "cachedResultName": "GPT-4 Turbo"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI email assistant. Summarize the following email in 3-5 concise bullet points. Be clear and actionable.\n\n**Subject:** {{ $json.subject }}\n**From:** {{ $json.from }}\n**Body:**\n{{ $json.snippet || $json.plainText || 'No content available' }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 300
        }
      },
      "id": "openai-node",
      "name": "Summarize with GPT-4",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [1250, 300],
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_CREDENTIAL_ID}}",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "{{SLACK_CHANNEL_ID}}",
          "mode": "name"
        },
        "text": "=📩 *Email Summary*\n\n*From:* {{ $('Get Unread Emails').item.json.from }}\n*Subject:* {{ $('Get Unread Emails').item.json.subject }}\n*Received:* {{ $('Get Unread Emails').item.json.internalDate ? new Date(parseInt($('Get Unread Emails').item.json.internalDate)).toLocaleString() : 'Unknown' }}\n\n*Summary:*\n{{ $json.message.content }}\n\n---",
        "otherOptions": {}
      },
      "id": "slack-summary-node",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1450, 300],
      "credentials": {
        "slackOAuth2Api": {
          "id": "{{SLACK_CREDENTIAL_ID}}",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Daily at 8 AM": {
      "main": [
        [
          {
            "node": "Get Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unread Emails": {
      "main": [
        [
          {
            "node": "Check Gmail Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Gmail Error": {
      "main": [
        [
          {
            "node": "Notify Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Has Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Emails": {
      "main": [
        [
          {
            "node": "Process Each Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify No Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Email": {
      "main": [
        [
          {
            "node": "Summarize with GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with GPT-4": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        [
          {
            "node": "Process Each Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}