Telegram AI News to LinkedIn Post Generator.json
{
  "name": "Telegram AI News to LinkedIn Post Generator",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "45d20821-6f8f-43f8-94fa-c2e85b9e7f86",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        80
      ],
      "webhookId": "telegram-ai-news-trigger",
      "credentials": {
        "telegramApi": {
          "id": "npBc7Vzps9vR1cxT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text.toLowerCase().trim() }}",
              "operation": "contains",
              "value2": "what's today news"
            }
          ]
        }
      },
      "id": "23fc8b47-06d8-4750-8fc7-a5dd8316a154",
      "name": "Check Trigger Phrase",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        32,
        80
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "🔍 Searching for today's trending AI news... Please wait!",
        "additionalFields": {}
      },
      "id": "0f265a40-6225-47c8-9fc4-964b699a997e",
      "name": "Send Searching Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        -16
      ],
      "webhookId": "847111db-cfb9-45e3-8d9a-fa7f07423693",
      "credentials": {
        "telegramApi": {
          "id": "npBc7Vzps9vR1cxT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search_by_date",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "AI OR \"artificial intelligence\" OR \"machine learning\" OR GPT OR LLM OR OpenAI OR \"neural network\""
            },
            {
              "name": "tags",
              "value": "story"
            },
            {
              "name": "numericFilters",
              "value": "created_at_i>={{ $now.minus(24, 'hours').toUnixInteger() }}"
            },
            {
              "name": "hitsPerPage",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "d69a587f-a395-4914-bcaf-f8aae0856f65",
      "name": "Fetch HackerNews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/tag/artificial-intelligence/feed/",
        "options": {}
      },
      "id": "e838eea8-9518-46a8-a022-6c7ceaaf1cf4",
      "name": "Fetch TechCrunch RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -16
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.technologyreview.com/topic/artificial-intelligence/feed",
        "options": {}
      },
      "id": "4bd62b59-d107-4408-81f5-c7b94c2efd0e",
      "name": "Fetch MIT Tech Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        176
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "7df7c0d0-4941-49b4-b661-d9b49380e21e",
      "name": "Merge News Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        656,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Extract AI trending topics from RSS feed XML\n\n// Get the input data (XML string)\nconst xmlData = $input.first().json.html || $input.first().json.data || '';\n\nfunction extractTagContent(item, tag) {\n  const regex = new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`, 'i');\n  const match = item.match(regex);\n  return match ? match[1].replace(/<!\\[CDATA\\[|\\]\\]>/g, '').trim() : null;\n}\n\n// Split into <item> blocks\nconst items = xmlData.split(/<\\/item>/i).filter(i => i.includes('<item>'));\n\nconst results = items.map((item) => {\n  const title = extractTagContent(item, 'title');\n  const url = extractTagContent(item, 'link');\n  const source = 'TechCrunch';\n  const publish_date = extractTagContent(item, 'pubDate');\n  const summary = extractTagContent(item, 'description');\n  \n  // Optional: relevance_score based on AI keyword frequency\n  const aiMentions = (item.match(/AI/gi) || []).length;\n  const relevance_score = Math.min(1, aiMentions / 3).toFixed(2); // normalize between 0–1\n\n  return {\n    json: {\n      title,\n      url,\n      source,\n      publish_date,\n      summary,\n      relevance_score,\n    }\n  };\n});\n\nreturn results;\n"
      },
      "id": "e509b3d5-1e9f-4d6f-8321-d3e9531614b7",
      "name": "Process and Filter Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -16
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=No news Today",
        "replyMarkup": "replyKeyboardRemove",
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "id": "59b9f483-35f2-42e7-8b71-8a645be184e3",
      "name": "Send No News Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        240
      ],
      "webhookId": "066839ed-0242-4729-aff1-2e43e69214f2",
      "credentials": {
        "telegramApi": {
          "id": "npBc7Vzps9vR1cxT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get input value safely\nlet raw = $input.first().json.data || $input.first().json.text || JSON.stringify($input.first().json);\n\n// Step 1: Remove unwanted escape characters like \\\"\nraw = raw.replace(/\\\\\"/g, '\"');\n\n// Step 2: Clean leading/trailing quotes if present\nraw = raw.replace(/^\"|\"$/g, '');\n\n// Step 3: Try to parse JSON properly\nlet parsed = {};\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  // Fallback to regex if JSON.parse fails\n  parsed.topic = raw.match(/\"topic\":\"(.*?)\"/)?.[1] || '';\n  parsed.article_link = raw.match(/\"article_link\":\"(.*?)\"/)?.[1] || '';\n  parsed.date_posted = raw.match(/\"date_posted\":\"(.*?)\"/)?.[1] || '';\n  parsed.post_content = raw.match(/\"post_content\":\"([\\s\\S]*?)\"}/)?.[1] || '';\n}\n\n// Step 4: Build clean structured output\nreturn [\n  {\n    json: {\n      topic: parsed.topic || '',\n      title: parsed.topic || '',\n      date_posted: parsed.date_posted || '',\n      post_content: parsed.post_content || '',\n      source: parsed.article_link || ''\n    }\n  }\n];\n"
      },
      "id": "b3c4e463-9ad3-4703-824c-4d1da9306d3b",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gC5MA4fuzdwhiWGu5Px77lcGv1SH5G7fzudKSxn1ZYc",
          "mode": "list",
          "cachedResultName": "linkedincreater",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gC5MA4fuzdwhiWGu5Px77lcGv1SH5G7fzudKSxn1ZYc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gC5MA4fuzdwhiWGu5Px77lcGv1SH5G7fzudKSxn1ZYc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "topic": "={{ $json.topic }}",
            "title": "={{ $json.title }}",
            "date_posted": "={{ $json.date_posted }}",
            "post_content": "={{ $json.post_content }}",
            "source": "={{ $json.source }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_content",
              "displayName": "post_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2ef8ac37-9353-4420-8373-eeaaa7026d73",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1632,
        -192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0hRXCLW59qIbUDtP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst chatId = items[0].json.chat_id;\n\nconst successCount = items.filter(item => item.json.status === 'success').length;\nconst failedCount = items.filter(item => item.json.status === 'failed').length;\n\nlet message = `✅ *LinkedIn Posts Generated!*\\n\\n`;\nmessage += `📊 *Summary:*\\n`;\nmessage += `✓ Successful: ${successCount}\\n`;\n\nif (failedCount > 0) {\n  message += `✗ Failed: ${failedCount}\\n`;\n}\n\nmessage += `\\n📝 *Generated Posts:*\\n\\n`;\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  if (item.status === 'success') {\n    message += `${i + 1}. *${item.topic}*\\n`;\n    message += `   Source: ${item.source}\\n`;\n    message += `   🔗 ${item.article_link}\\n\\n`;\n  }\n}\n\nmessage += `\\n💾 All posts have been saved to Google Sheets!`;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    message: message,\n    parse_mode: 'Markdown'\n  }\n}];"
      },
      "id": "ad9a9cea-678a-492d-b8b0-0338d56738a4",
      "name": "Prepare Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        -192
      ]
    },
    {
      "parameters": {
        "chatId": "=",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "={{ $json.parse_mode }}"
        }
      },
      "id": "bc75b0b9-833b-4aac-a8f3-69ba82221556",
      "name": "Send Success Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2032,
        -192
      ],
      "webhookId": "343e92f9-80da-443f-809e-f44a3f76938d",
      "credentials": {
        "telegramApi": {
          "id": "npBc7Vzps9vR1cxT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==Create a viral LinkedIn post based on this trending AI news:\n\n📰 Title: {{ $json.title }}\n🔗 URL: {{ $json.url }}\n📅 Published: {{ $json.publish_date }}\n📖 Summary: {{ $json.summary }}\n🌐 Source: {{ $json.source }}\n\nGuidelines:\n- Start with a powerful hook that makes people stop scrolling\n- Write in a conversational, human tone (avoid corporate jargon)\n- Use 3-5 short, punchy paragraphs\n- Add 2-3 relevant emojis naturally throughout\n- Include specific details from the article\n- End with a thought-provoking question or call-to-action\n- Keep total length under 1300 characters\n- Make it shareable and comment-worthy\n\nIMPORTANT: Return ONLY valid JSON in this exact format (no markdown, no extra text):\n{\n  \"topic\": \"catchy 5-7 word title\",\n  \"article_link\": \"{{ $json.url }}\",\n  \"date_posted\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n  \"post_content\": \"the complete LinkedIn post text here\"\n}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert LinkedIn content creator who writes viral posts. Your posts are engaging, use simple human language, include strategic emojis, and follow LinkedIn's algorithm best practices for maximum reach and engagement.\n\nYour writing style:\n- Hook readers in the first line\n- Use storytelling and relatable examples\n- Break content into bite-sized paragraphs\n- Strategic emoji placement (2-3 max)\n- End with questions or CTAs to drive engagement\n- Authentic, human voice (not corporate)\n- Optimized for LinkedIn algorithm\n\nALWAYS return valid JSON format as requested. No markdown code blocks, no extra explanations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1152,
        -192
      ],
      "id": "0480c556-7b40-4725-8146-c37ceb2a0d2a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "96dae30d-f721-45ac-b654-d6638efcd2dc",
              "leftValue": "={{ $('Process and Filter Articles').item.json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        -16
      ],
      "id": "f8f491bb-59ef-40a6-94fa-fe7d0d665c30",
      "name": "Check for error"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1152,
        16
      ],
      "id": "7b2cc8c8-08bb-436f-83cf-565c3f17ed0c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "fseuueR8yDxkz0p8",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1328,
        32
      ],
      "id": "d604db04-79e6-4027-91f1-a6ae6a804704",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "5W8nicS9bp4ZB6kQ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "🤖 Hello! I can help you find trending AI news and create LinkedIn posts.\n\nJust send me: *what's today news*\n\nI'll search the latest AI articles and generate viral LinkedIn posts for you! 📰✨",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "9ff5e1df-9924-4555-97ed-c95d23d33717",
      "name": "Send Help Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        320
      ],
      "webhookId": "cd9dbbe7-fd43-4e6f-aee0-d0eba5c43c89",
      "credentials": {
        "telegramApi": {
          "id": "npBc7Vzps9vR1cxT",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Trigger Phrase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Trigger Phrase": {
      "main": [
        [
          {
            "node": "Send Searching Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Searching Message": {
      "main": [
        [
          {
            "node": "Fetch HackerNews",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch TechCrunch RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch MIT Tech Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HackerNews": {
      "main": [
        [
          {
            "node": "Merge News Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch TechCrunch RSS": {
      "main": [
        [
          {
            "node": "Merge News Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge News Sources": {
      "main": [
        [
          {
            "node": "Process and Filter Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process and Filter Articles": {
      "main": [
        [
          {
            "node": "Check for error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Prepare Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Message": {
      "main": [
        [
          {
            "node": "Send Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for error": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send No News Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d26a700-10a8-41b1-9233-f6bcdef24fc1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5aed6b2bc9e7adf5bcb3ab78e1b103a65214a7ea2cacddc8010df86b2bde4524"
  },
  "id": "dLo7LNLZIEVvKK6U",
  "tags": []
}