WhatsApp-Based AI Order and Inventory Automation Overview.json
{
  "name": "WhatsApp-Based AI Order and Inventory Automation Overview",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messages[0].type }}",
              "value2": "text"
            }
          ]
        }
      },
      "id": "1ea5b660-2ba0-4bc3-8964-363e1e467c92",
      "name": "Is Audio Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        -192
      ]
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        -192
      ],
      "id": "9e74ff22-afca-4fe9-809b-328886273b83",
      "name": "WhatsApp Trigger",
      "webhookId": "55e42276-6b44-4833-b409-fdf27a6650ce",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "fIt6tKiFBhAzEzJ5",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=customer name: {{ $json.contacts[0].profile.name }}\nCustomer request:\n{{ $json.messages[0].text.body }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an intelligent order-processing assistant for a sweets shop.\n\nYour task:\n1. Read the customer's message and extract their name and the list of ordered products.\n2. Match product names with the provided inventory.\n3. Support multiple products in one order.\n4. For each product, include:\n   - name\n   - quantity\n   - unit_price\n   - subtotal (quantity × unit_price)\n5. Add all subtotals to calculate total_price.\n6. Always return output only in valid JSON with this structure:\n\n{\n  \"customer_name\": \"string\",\n  \"products\": [\n    {\n      \"name\": \"string\",\n      \"quantity\": number,\n      \"unit_price\": number,\n      \"subtotal\": number\n    }\n  ],\n  \"total_price\": number\n}\n\nDo not include explanations or text outside the JSON.\nIf a product is not found in inventory, ignore it.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1536,
        -192
      ],
      "id": "359da881-c509-40f2-8b63-88542bfcf84a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1472,
        32
      ],
      "id": "c97de7f3-1822-4dbf-8cf9-b4ad431752c9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        448,
        -128
      ],
      "id": "7c48f29b-dad4-4220-b7c5-9f6d1fce877c",
      "name": "Download media",
      "webhookId": "2b14d006-3b17-4ef1-b2b3-1a2b7cefc5d8",
      "credentials": {
        "whatsAppApi": {
          "id": "T4KyRqITZ6LxEeMU",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "ad12b110-78b2-4759-bf1d-318aaf61808e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b567b132-2518-42a0-817e-2babcbd4ab9a",
                    "leftValue": "={{ $json.messages[0].audio.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        224,
        -128
      ],
      "id": "11a18f1f-95f0-490a-b885-c79b5e800ce6",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa0e59ee-2014-4e9b-8349-461e821ad2e8",
              "name": "messages[0].audio",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].audio }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -128
      ],
      "id": "197de6c2-fb97-4dc7-8cd4-744dd3dbe8eb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -128
      ],
      "id": "9982fe7f-0355-4441-9977-7f8e5c7c5918",
      "name": "HTTP Request",
      "credentials": {
        "whatsAppApi": {
          "id": "T4KyRqITZ6LxEeMU",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        896,
        -128
      ],
      "id": "2e5644c1-ca1e-40fb-a969-20030da586b3",
      "name": "Wait",
      "webhookId": "73f16eae-bd43-46cf-b481-db90cb88b2c5"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1QtCP918LIZCJ9ZyNjxlK7IHU467g_C_2-ayHFu6eKp0",
          "mode": "list",
          "cachedResultName": "Sweets Mart",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QtCP918LIZCJ9ZyNjxlK7IHU467g_C_2-ayHFu6eKp0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 692482510,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QtCP918LIZCJ9ZyNjxlK7IHU467g_C_2-ayHFu6eKp0/edit#gid=692482510"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ $json.output.customer_name }}",
            "Product Name": "={{ $json.output.products[0].name }}",
            "Product Quantity": "={{ $json.output.products[0].quantity }}",
            "Price (INR)": "={{ $json.output.products[0].unit_price }}"
          },
          "matchingColumns": [
            "Customer Name"
          ],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Quantity",
              "displayName": "Product Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price (INR)",
              "displayName": "Price (INR)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Delivery Status",
              "displayName": "Delivery Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2064,
        -288
      ],
      "id": "1ea9fc83-d191-4126-bde4-1543f0039dfb",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1S4qvrChfiqlFTUr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1344,
        32
      ],
      "id": "b0acf8bf-f88a-44c9-8051-49308a047bae",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "DxnkuMtXRNv2nHuQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"customer_name\": \"Mohith\",\n  \"products\": [\n    {\n      \"name\": \"Laddu\",\n      \"quantity\": 1,\n      \"unit_price\": 250,\n      \"subtotal\": 250\n    }\n  ],\n  \"total_price\": 250\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1856,
        32
      ],
      "id": "711d2178-9b04-4478-931a-1b84d51f01e2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sendTo": "mohithsrinivassomaraju@gmail.com",
        "subject": "Order Received",
        "message": "={{ $json['Customer Name'] }} has placed list of products. Make sure to deliver below followinf list\n{{ $json['Product Name'] }}\naccomplish the delivery ASAP",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2288,
        -288
      ],
      "id": "fcb630db-7a44-4e3a-97bb-484ab5a35008",
      "name": "Send a message",
      "webhookId": "d62f5221-dd85-404c-83bc-edc385e9b96a",
      "credentials": {
        "gmailOAuth2": {
          "id": "1jQHTxdrXnQdOfho",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=9492273219",
        "recipientPhoneNumber": "9391120704",
        "textBody": "Order Accept!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2512,
        -288
      ],
      "id": "1956f855-2d2c-4999-bb4e-e1e0be276435",
      "name": "Send message and wait for response",
      "webhookId": "42f42935-99ad-46c4-b53f-b248fafba5e0",
      "credentials": {
        "whatsAppApi": {
          "id": "T4KyRqITZ6LxEeMU",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "translate",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1120,
        -128
      ],
      "id": "27bd1cd2-fcb3-4807-b7ae-5bfc9654c1b0",
      "name": "Translate a recording",
      "credentials": {
        "openAiApi": {
          "id": "DxnkuMtXRNv2nHuQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QtCP918LIZCJ9ZyNjxlK7IHU467g_C_2-ayHFu6eKp0",
          "mode": "list",
          "cachedResultName": "Sweets Mart",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QtCP918LIZCJ9ZyNjxlK7IHU467g_C_2-ayHFu6eKp0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QtCP918LIZCJ9ZyNjxlK7IHU467g_C_2-ayHFu6eKp0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1600,
        32
      ],
      "id": "f3096a6c-c958-4000-8819-3478363b15ce",
      "name": "Inventory database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1S4qvrChfiqlFTUr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1QtCP918LIZCJ9ZyNjxlK7IHU467g_C_2-ayHFu6eKp0",
          "mode": "list",
          "cachedResultName": "Sweets Mart",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QtCP918LIZCJ9ZyNjxlK7IHU467g_C_2-ayHFu6eKp0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QtCP918LIZCJ9ZyNjxlK7IHU467g_C_2-ayHFu6eKp0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Sweet Name",
              "displayName": "Sweet Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity (1kg)",
              "displayName": "Quantity (1kg)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price (INR)",
              "displayName": "Price (INR)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sweet Type",
              "displayName": "Sweet Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Quantity",
              "displayName": "Total Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1728,
        32
      ],
      "id": "8a312e54-623d-40b3-bf71-9c00ba432837",
      "name": "Update Inventory Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1S4qvrChfiqlFTUr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dac5a560-5026-408f-841e-ab323e30c1c5",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2064,
        -96
      ],
      "id": "41c3f41b-6453-4e45-939e-683993e8bc85",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "mohithsrinivassomaraju@gmail.com",
        "subject": "Stock Refill Alert",
        "message": "Refill the inventory",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2288,
        -96
      ],
      "id": "98183d21-c3e2-420a-9fb8-d472ea49d07b",
      "name": "Stock Alert",
      "webhookId": "52eb0f43-f379-4c14-8987-23108208793c",
      "credentials": {
        "gmailOAuth2": {
          "id": "1jQHTxdrXnQdOfho",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Is Audio Message?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Is Audio Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Translate a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inventory database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Inventory Database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Stock Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0cfcf21d-dc8b-4d91-8585-7dac264405d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78a413ee20a5904c789f7d0a64df9a0e6dbc4db0d076ad6e47dd9f6c20987bc0"
  },
  "id": "3oLcXa0iTotlIygm",
  "tags": []
}